@inherits LayoutComponentBase

<PageTitle>MyGarden.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink class="nav-link site-nav-link" href="" Match="NavLinkMatch.All">
                <div style="display: flex; align-items: center;">
                    <i class="fa-solid fa-house" style="color: #7C7C7D; font-size: 20px"></i>
                    <i class="fa-solid fa-caret-right ms-1" style="color: #7C7C7D; font-size: 20px"></i>
                    <span style="color: #7C7C7D; margin-left: 5px; font-weight: bold;">Dashboard</span>
                </div>
            </NavLink>
            <NavLink class="nav-link site-nav-link" href="counter">
                <i class="fa-solid fa-plus" style="color: #7C7C7D; font-size: 20px"></i><i class="fa-solid fa-seedling ms-1" style="color: #7C7C7D; font-size: 20px"></i>
            </NavLink>
            <NavLink class="nav-link site-nav-link" href="fetchdata">
                <i class="fa-solid fa-plus" style="color: #7C7C7D; font-size: 20px"></i><i class="fa-solid fa-list-check ms-1" style="color: #7C7C7D; font-size: 20px"></i>
            </NavLink>
            <NavLink class="nav-link site-nav-link" href="https://github.com/KalebGarrett/MyGarden" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github" style="color: #7C7C7D; font-size: 20px"></i>
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>