@page "/updatetodo/{Id}"
<PageTitle>Update ToDo</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="text-center">Update To Do</h1>
        <form @onsubmit="UpdateToDoDb">
            <div class="form-group">
                <label for="description">Description*</label>
                <input type="text" class="form-control" id="description" @bind="ToDo.Description" required="required"/>
            </div>
            <div class="form-group">
                <label for="dueDate" class="mt-3">Due Date*</label>
                <input type="datetime-local" class="form-control" id="dueDate" @bind="ToDo.DueDate" required="required"/>
            </div>
            <button type="submit" class="btn btn-success mt-2 justify-content-center">Update ToDo</button>
        </form>

        @if (Updated)
        {
            <p class="text-success mt-2">To do updated successfully!</p>
        }
    </div>
</div>